* {
    margin: 0;
    padding: 0;
  }

.copy {
    cursor: pointer;
}

.code {
    background: #EEE;
    border-radius: 4px;
    padding: 0 6px 0 6px;
    font-family: mono;
}

.left {
    min-inline-size: 30px;
}

.right {
    padding-left: 40px;
}

.request-card {
    min-width: 770px;
    min-height: 250px;
}

.request-card-title {
    font-weight: bold;
}

.request-card-action {
    float: right;
    cursor: pointer;
    color: #1878ff;
    text-wrap: revert;
}
